body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 65px;
    line-height: 80px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

p {
    font-size: 18px;
}

/* Hero section */

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/donation0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 29%;
    padding-right: 29%;
}

/* Donate Section */

.donate-sec {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cta-button {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 15px 30px;
    border-radius: 5px;
}

.amount {
    display: flex;
}

.dnt-box {
    padding: 30px;
    margin: 10px;
    background-color: #FAFAFA;
    border-radius: 5px;
    align-items: center;
}

.dnt-color {
    padding: 30px;
    margin: 10px;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.dnt-form {
    text-align: center;
    margin-top: 50px;
}

.dnt-form input[type="text"] {
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: 0;
    background: none;
    display: block;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.dnt-form input[type="submit"] {
    background-color: #FF5959;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

/* Donate Plan Section */